<! DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
        hr {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h4>Exon shifts for gene:</h4>
            <h1><span class="glyphicon glyphicon-transfer" aria_hidden="true"></span> {{title}}</h1>
            <hr>
            <body>

{% for entry in data %}
  {% for line in entry %}
    {{line}}
  {% endfor %}
{% endfor%}
</div>
</body>


</html>
